# k8's Deployment 

apiVersion: apps/v1
kind: Deployment
metadata:
  name: excalidraw
  labels:
    app: excalidraw
spec:
  replicas: 1
  selector: 
    matchLabels:
      app: excalidraw
  template:
    metadata:
      labels:
        app: excalidraw
    spec: 
      containers:
      - name: excalidraw
        image: 070439404604.dkr.ecr.eu-west-2.amazonaws.com/projects/eks-cluster:latest
        ports:
        - containerPort: 8080

---

# k8's Cluster IP Service

apiVersion: v1
kind: Service
metadata: 
  name: excalidraw
spec:
  selector:
    app: excalidraw
  type: ClusterIP
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8080

---

# k8's Ingress 

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata: 
  name: excalidraw-ingress
  annotations:
    cert-manager.io/cluster-issuer: issuer
spec: 
  ingressClassName: nginx
  tls:
  - hosts:
    - exd.tahirbajramselita.co.uk
    secretName: excalidraw-tls
  rules:
  - host: exd.tahirbajramselita.co.uk
    http:
      paths:
      - path: /
        pathType: Prefix
        backend: 
          service:
            name: excalidraw
            port: 
              number: 80