name: Docker Build and Push to ECR
on:
    workflow_dispatch:

env:
    AWS_REGION: eu-west-2
    AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
    AWS_ECR_REPO: ${{ secrets.AWS_ECR_REPO }}
    IMAGE_TAG: latest

permissions:
    id-token: write
    contents: read

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: checks out code
              uses: actions/checkout@v4
            - name: configur aws credentials
              uses: aws-actions/configure-aws-credentials@v4.1.0
              with:
                aws-region: eu-west-2
                role-to-assume: ${{ secrets.AWS_OIDC }}
            - name: login to ECR
              uses: aws-actions/amazon-ecr-login@v1
            - name: build image
              run: |
                docker build -f ./app/Dockerfile -t $AWS_ECR_REPO:$IMAGE_TAG ./app
            - name: scan image
              uses: aquasecurity/trivy-action@0.28.0
              with: 
                image-ref: "${{ env.AWS_ECR_REPO }}:${{ env.IMAGE_TAG }}"
                format: table

            - name: Push to ECR
              run: |
                docker push $AWS_ECR_REPO:$IMAGE_TAG